body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    color: brown;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
background-color: rgb(120, 128, 197);
font-size: 2em;
padding: 1em;
border: 2px solid;
margin: 0 auto;
width: 100%;
box-shadow: #000;
border-radius: .5em;
}

footer{
    background-color: rgb(145, 145, 145);
    color: aliceblue;
    margin: 0 auto;
    padding: .3em;
}